:root {
  --theme__basic: rgba(255, 255, 255, 1);
  --theme__basic--light: rgba(255, 255, 255, 0);
  --theme__second: rgba(51, 51, 51, 1);
  --theme__third: rgba(189, 189, 189, 1);
  --theme__primary: rgba(120, 89, 207, 1);
  --theme__accent--light: rgba(120, 89, 207, 0.25);
  --theme__tinge: rgba(240, 235, 255, 1);

  --primary__dark: rgba(89, 60, 172, 1);
  --primary__bright: rgba(144, 112, 236, 1);
  --primary__light: rgba(234, 230, 252, 1);

  --accent__basic: rgba(226, 226, 226, 1);
  --accent__second: rgba(229, 230, 232, 1);
  --accent__third: rgba(248, 248, 248, 1);

  --add__basic: rgba(243, 235, 225, 1);
  --shadow__basic: rgba(0, 0, 0, 0.15);
  --shadow__second: rgba(0, 0, 0, 0.2);
}

/* Viewports */

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

/* Width page */

$min-width: 320px;
$max-width: 1440px;

/* Font family */

$font-family__basic: Montserrat, Arial, sans-serif;

/* Font size */

$font-size--little: 12px;
$font-size--small: 14px;
$font-size--basic: 16px;
$font-size--middle: 18px;
$font-size--modarate: 20px;
$font-size--interim: 24px;
$font-size--big: 36px;
$font-size--large: 42px;
$font-size--huge: 56px;

/* Line heights */

$line-height--little: 16px;
$line-height--small: 20px;
$line-height--basic: 24px;
$line-height--modarate: 32px;
$line-height--interim: 36px;
$line-height--big: 48px;
$line-height--large: 64px;
$line-height--huge: 80px;

/* Font weight */

$font-weight__normal: 400;
$font-weight__medium: 500;
$font-weight__semibold: 600;
$font-weight__bold: 700;

/* Letter spacing */

$letter-spacing__basic: 0.02em;
$letter-spacing__strong: 0.04em;
