.features {
  @include page-padding();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.features__title {
  @include reset-indent();
  @include font-special();
  margin-bottom: 4px;
  padding: 0 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 600px;
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    max-width: 800px;
  }
}

.features__info {
  @include reset-indent();
  @include font-heading();
  max-width: 400px;
  margin-bottom: 36px;
  padding: 0 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 1050px;
    margin-bottom: 62px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin-bottom: 80px;
  }
}

.features__list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
}

.features__item {
  position: relative;
  max-width: 280px;
  margin-right: 30px;
  padding: 66px 0 32px 0;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    padding: 0 0 50px 72px;
  }

  @media (min-width: $desktop-width) {
    max-width: 317px;
    padding: 76px 0 50px 0;
  }
}

.features__item--speed::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 50px;
  height: 56px;
  background-image: url('../../img/features/speed.svg');
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 3px;
    left: 3px;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.features__item--comfort::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 52px;
  height: 56px;
  background-image: url('../../img/features/comfort.svg');
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 0;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.features__item--energy::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 42px;
  height: 56px;
  background-image: url('../../img/features/energy.svg');
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 5px;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.features__item--ecology::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 46px;
  height: 56px;
  background-image: url('../../img/features/ecology.svg');
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 3px;
    left: 3px;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.features__subtitle {
  @include reset-indent();
  @include font-subheading();
  margin-bottom: 4px;
  padding-right: 0 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    padding: 0 15px 0 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;
    text-align: center;
  }
}

.features__text {
  @include reset-indent();
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 270px;
    font-size: $font-size--basic;
    line-height: $line-height--basic;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    text-align: center;
  }
}
