.map {
  height: 420px;
  background-color: var(--shadow__second);

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__wrapper {
  position: relative;
}

.map__canvas {
  height: 420px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
