.page {
  @include reset-indent();

// PP
  // background-repeat: no-repeat;
  // background-position: 50% 0;
  // background-image: url( '../../img/pp/m.webp' );

  // @media (min-width: 768px) {
  //   background-image: url( '../../img/pp/t.webp' );
  // }

  // @media (min-width: 1440px) {
  //   background-image: url( '../../img/pp/d.webp' );
  // }
}

.page__body {
  @include reset-indent();
  @include font-basic-page();
  min-height: 100vh;
  font-family: $font-family__basic;

  // PP
  // opacity: 0.4;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: $min-width;
  max-width: $max-width;
  margin: 0 auto;
  background-color: var(--theme__basic);
  box-shadow: 0 5px 15px var(--shadow__basic);
  overflow: hidden;
}

.page__footer {
  margin-top: auto;
}
