.pagination {
  align-self: stretch;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 395px
  }
}

.pagination__list {
  @include reset-list();
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 160px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    min-width: 190px;
    margin-right: 0;
  }
}

.pagination__item {
  display: none;
}

.pagination__item--visible {
  display: block;
  margin: 0 10px;

  @media (min-width: $tablet-width) {
    margin: 0 10px;

  }
}

.pagination__item--visible .pagination__link {
  @include font-basic-page($font-size--basic, $line-height--basic, $font-weight__normal, var(--theme__primary));
}

.pagination__item--current .pagination__link--current {
  @include font-basic-page($font-size--basic, $line-height--basic, $font-weight__semibold, var(--theme__second));
  background-color: transparent;
}

.pagination__item--end .pagination__link {
  @include font-basic-page($font-size--basic, $line-height--basic, $font-weight__semibold, var(--theme__second));
  background-color: transparent;
}

.pagination__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--theme__basic);
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--theme__basic);
    font-weight: $font-weight__normal;
    background-color: var(--primary__bright);
  }

  &:active {
    color: var(--theme__basic);
    font-weight: $font-weight__normal;
    background-color: var(--primary__dark);
  }

  &:disabled {
    color: var(--theme__basic);
    font-weight: $font-weight__normal;
    background-color: var(--accent__basic);
  }
}

.pagination__controls {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 395px;
  }
}

.pagination__button {
  @include reset-indent();
  position: relative;
  display: block;
  min-width: 40px;
  height: 40px;
  padding: 15px;
  background-color: var(--theme__basic);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--theme__basic);
    background-color: var(--primary__bright);
  }

  &:active {
    color: var(--theme__basic);
    background-color: var(--primary__dark);
  }

  &:disabled {
    color: var(--theme__basic);
    background-color: var(--accent__basic);
  }

  @media (min-width: $tablet-width) {
    @include font-basic-page($font-size--basic, $line-height--basic, $font-weight__normal, var(--theme__primary));
    min-width: 91px;
    padding: 8px 20px;
  }
}

.pagination__button:hover .pagination__icon,
.pagination__button:focus .pagination__icon,
.pagination__button:active .pagination__icon
.pagination__button:disabled .pagination__icon{
  fill: var(--theme__basic);
}

.pagination__icon {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    width: 10px;
    height: 10px;
    fill: var(--theme__primary);
  }
}

.pagination__icon--prev {
  @media (max-width: $mobile-width-only) {
    transform: translateX(-1px) translateY(-1px) rotate(0deg);
  }
}

.pagination__icon--next {
  @media (max-width: $mobile-width-only) {
    transform: translateX(1px) translateY(-1px) rotate(-180deg);
  }
}

.pagination__desk {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
