.range-filter {

  @media (min-width: $tablet-width) {
    max-width: 240px;
  }

  @media (min-width: $desktop-width) {
    max-width: 318px;
  }
}

.range-filter__controls {
  position: relative;
  height: 24px;
  margin-bottom: 21px;
}

.range-filter__scale {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--accent__second);

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range-filter__bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 90%;
  height: 4px;
  background-color: var(--primary__bright);

  @media (min-width: $desktop-width) {
    width: 92%;
  }
}

.range-filter__toggle {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: var(--theme__basic);
  border: 2px solid var(--primary__bright);
  border-radius: 50%;
  cursor: pointer;
}

.range-fiter__core {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.range-filter__core::after {
  position: absolute;
  top: 2px;
  left: 2px;
  content: '';
  width: 16px;
  height: 16px;
  background-color: var(--theme__basic);
  border-radius: 50%;
}

.range-filter__toggle:hover .range-filter__core::after,
.range-filter__toggle:focus .range-filter__core::after {
  background-color: var(--theme__accent--light);
}

.range-filter__toggle:active .range-filter__core::after {
  background-color: var(--theme__primary);
}

.range-filter__controls--disabled .range-filter__bar {
  background-color: var(--theme__third);
}

.range-filter__controls--disabled .range-filter__toggle {
  border-color: var(--theme__third);
}

.range-filter__controls--disabled .range-filter__toggle:hover .range-fiter__core::after,
.range-filter__controls--disabled .range-filter__toggle:focus .range-fiter__core::after,
.range-filter__controls--disabled .range-filter__toggle:active .range-fiter__core::after {
  background-color: var(--theme__basic);
}


.range-filter__toggle--min {
  left: 0;
}

.range-filter__toggle--max {
  left: 84.5%;

  @media (min-width: $tablet-width) {
    left: 80%;
  }

  @media (min-width: $desktop-width) {
    left: 94%;
  }
}

.range-filter__price {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range-filter__price::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: '';
  width: 10px;
  height: 2px;
  background-color: var(--theme__third);
}

.range-filter__input {
  @include font-basic-page($font-size--basic, $line-height--basic, $font-weight__medium);
  display: block;
  width: 125px;
  height: 40px;
  padding: 8px 10px;
  border: 2px solid var(--primary__bright);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  -moz-appearance:textfield;

  @media (min-width: $tablet-width) {
    width: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.range-filter__input::-webkit-outer-spin-button,
.range-filter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-filter__input::placeholder {
  color: var(--theme__third);
}

.range-filter__input:hover,
.range-filter__input:focus {
  border-color: var(--primary__dark);
}

.range-filter__input:disabled {
  background-color: var(--accent__third);
  border-color: var(--accent__basic);
}

.range-filter__input:disabled::placeholder {
  color: var(--accent__basic);
}
