.user-menu {
  @include reset-list();
  display: flex;
}

.user-menu__item {
  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }
}

.user-menu__link {
  position: relative;
  display: block;
  padding: 30px 30px 28px 30px;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    color: var(--theme__primary);
  }

  &:hover .user-menu__icon,
  &:focus .user-menu__icon {
    fill: var(--theme__primary);
  }

  &:active {
    background-color: var(--theme__tinge);
    border-bottom: 2px solid var(--theme__tinge);
  }

  @media (max-width: $mobile-width-only) {

    &:active .user-menu__icon {
      fill: var(--theme__second);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 39px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 32px 20px 30px 20px;
  }
}

.user-menu__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16px;
  height: 16px;
  fill: var(--theme__second);

  @media (max-width: $mobile-width-only) {
    fill: var(--theme__second);
  }

  @media (min-width: $desktop-width) {
    position: static;
    transform: none;
  }
}

.user-menu__title {
  display: none;

  @media (min-width: $desktop-width) {
    order: 1;
    display: block;
    margin-left: 9px;
    color: inherit;
    font-family: inherit;
    font-size: $font-size--little;
    line-height: $line-height--little;
    font-weight: $font-weight__medium;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: $letter-spacing__basic;
    cursor: pointer;
  }
}
